
h3 {
    color: rgb(240, 9, 9);
    background-color: rgb(69, 150, 150);
}
  

h2{
    color:rgb(15, 2, 27);
    background-color: #00d0f0;

}

p{
    color:rgb(36, 3, 96);
    background-color:violet;
}

button{
    color:black;
    background-color: rgb(195, 216, 112);
}